################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CharityApplication/DesignTimeBuild/.dtbcache.v2
/.vs/CharityApplication/FileContentIndex/caf2fbb4-2cbb-4392-ab7d-faee6bf75951.vsidx
/.vs/CharityApplication/FileContentIndex/f806748f-5aa4-4f25-b114-cf566057bfa6.vsidx
/.vs/CharityApplication/v17/.suo
